<div class="board-column {{ name_column }}">
    <div class="board-column-container">
        <div class="board-column-header">{{ name_column }}</div>
        <div class="board-column-content-wrapper">
            <div class="board-column-content">
                {% for user in users %}
                    <div class="board-item">
                        <!-- <div class="board-item-content" data-id=""> -->
                        <div class="board-item-content" value="{{ user.iduser }}">
                            <span>{{ user.id }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>